:root {
    --text_color: #354649;
    --title_color: #6C7A89;
    --background: #E0E7E9;
    --buttons: #A3C6C4;
}

.dark-mode {
    --background: #354649;
    --title_color: #E0E7E9;
    --text_color: #A3C6C4;
    --buttons: #6C7A89;
}